*{
	margin:0;
	padding:0;
	font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
header{
	display:flex;
	justify-content: flex-end;
	padding: 1%;
    	border-bottom: 1px solid #dcdcdc;
}
header .material-icons{
	color: #673ab7;
	font-size: 20px;
}
#contact, #download, #track{
	align-self: end;
    	font-size: 12px;
    	margin-right: 1.3%;
}
.header1{
	background-color: #fff;
    	position: sticky;
    	z-index: 1;
    	top: 0;
	display:flex;
	justify-content: space-between;
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 5%);
}
.header1 input:focus{
	outline:none;
	color:#6600ff;
}
.middle{	
    	margin-left: 4%;
}
.middle img{
	width:57%;
}
.left{	
    	width: 23%;
	margin: 28px 5px 24px 13px;
    	border-bottom: 2px solid #60f;
}
.left input{
	border: none;
	padding-bottom: 8px;  	
    	width: 90%;
}
::placeholder {
	font-size:15px;
	color:#4e6871;
}
.left .material-icons{
	vertical-align: middle;
	color: #6e7e8b;
    	font-size: 21px;
}
.right{
	padding-top: 1%;
	display: flex;
}
.right img{
	width: 78%;
}
.heart{
    	margin-left: 17%;
}
.dropdown{
	display:none;
	z-index:1;
	right: 2%;
	width:18%;
	background: #fff;
	position: absolute;
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 30%);
}
.dropdown button{
	width: 90%;
    	color: #fff;
    	border: none;
    	padding: 4%;
    	background-color: #60f;
	margin:4%;
}
.dropdown p{
	padding: 4%;
    	font-size: 14px;
	color:#999592;
}
.dropdown a{
	color: #f7d;
    	text-decoration: none;
}
.smile:hover .dropdown{
	display:block;
} 
.header2{
	padding: 1%;
    	border-bottom: 2px solid #ececec;
}
.lists{
	text-align: center;
    	font-size: 15px;
    	font-weight: 600;
}
.lists span{
	margin-left:2%;
	color: #3f3636;
  	display: inline-block;
  	position: relative;
}
.lists span:hover{
	color:#6c3795;
	cursor:pointer;
}
.lists span:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #6c3795;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.lists span:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
.makeup{
	position: absolute;
    	width: 100%;
	z-index:1;
}
.makeup-header{
	margin-top: 1%;
	display: flex;
    	background-color: #fff;
    	justify-content: space-around;
	padding: 1%;
    	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 0%);
}
.makeup-body{
	display: flex;
    	text-align: left;
	margin-top: 0.1%;
    	background-color: #fff;
}
.face-makeup{
	margin: 4%;
	font-size: 15px;
    	font-weight: 100;
	cursor:pointer;
}
.face-makeup a{
	text-decoration: none;
    	color: black;
}
.makeup-h{
	padding-bottom: 7%;
	font-weight: bold;
    	font-size: 16px;
}
.makeup{
	display:none;
}
.lists:hover .makeup{
	display:block;
} 
.face-makeup p:hover,.face-makeup a:hover{
	color:#6c3795;
}
.homegif img,.longpic img,.gif img{
	width: 100%;
}
.feature{
	margin: 2%;
}
.featurehead{
	display: flex;
    	justify-content: space-between;
}
.featurehead span{
	font-weight: bold;
    	font-family: monospace;
}
.featureheadL{
	color: #2c414c;	
    	font-size: 22px;
	letter-spacing: 1px;
}
.featureheadR{
	color: #e40b81;	
    	font-size: 15px;
}
.pictures{
	display: flex;
    	justify-content: space-between;
	margin-top: 1%;
}
.product{
    	position:relative;
    	display:inline-block;
	cursor:pointer;
}
.product p,.lipproduct p{
	color:#707e86;
}
.product span,.lipproduct span{
	margin-right:3%;
}
.product .price,.lipproduct .price{
	color:#2c414c;
	font-weight:bold;
}
.product .line,.lipproduct .line{
	text-decoration: line-through;
	color:#babec0;
	font-size:12px;
}
.product .off,.lipproduct .off{
	color:#eb469f;
	font-size:12px;
}
.overlay {
    	display:none;
}
.product:hover .overlay{
    	width:94%;
    	background:#525455;
    	position:absolute;
    	bottom:22%;
	color:#fff;
    	left:0;
    	display:block;
	text-align:center;
	font-size:15px;
	padding:3%;
}
.picture{
	display:flex;
	justify-content: space-between;
	width:100%;
}
.layer1{
	display: flex;	
    	padding-bottom: 5%;
    	border-bottom: 1px solid #dcdcdc;
}
.foot-column,.foot-columnh{
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 11%;
}
.foot-column .head,.foot-columnh .head{
	font-size: 13px;
	font-weight: bold;
	color:#66767e;
	cursor:pointer;
	margin-bottom: 17%;
}
.foot-column .subhead,.foot-columnh .subhead{
	font-size: 11px;
	color: #767e85;
	margin-bottom: 15%;
}
.foot-column .subhead:hover,.foot-columnh .subhead:hover{
	cursor:pointer;
	color: #e40b81;
}
.layer1 li{
	list-style-type:none;
}
.layer2{
	display:flex;
	padding: 3% 0%;
}
.connect{
	display:flex;   
    	width: 56%;
}
.pay{
    	color: #66767e;
    	font-size: 14px;
    	font-weight: 700;
	margin-right: 9%;    
	margin-left: 14%;
}
.layer2 img{
	width: 55%;
	padding-left: 8%;
}
i{
	color: #fff;
	border-radius:50%;
}
.face{
    	background: #2d5c9d;
    	padding: 7px;
	font-size:13px;
}
.twitter{
    	background: #1c9be9;
    	padding: 4px;
	font-size:15px;
}
.google{
    	background: #d54c3f;
    	padding: 6px;
	border-radius:54%;
	font-size:13px;
}
.pin{
    	background: #df0022;
    	padding: 5px;
	font-size:15px;
}
.mail{
    	background: #293d4d;
    	padding: 5px;
	font-size:15px;
}
.youtube{
    	background: #f70000;
    	padding: 4px;
	font-size:15px;
}
.insta{
    	background: #9826b4;
    	padding: 5px;
	font-size:15px;
}
.link{
    	background: #007ab5;
    	padding: 4px;
	font-size:15px;
}
#copyright{
    	color: #6b7c86;
    	font-size: 11px;
	margin-left: 6%;
}




/* CART PAGE CSS */
.div searching{
	margin-top: 8px;
}
.cart{
	width: 49%;
}
.cart-container{
	display: flex;
	margin-top: 3%;
    	justify-content: space-around;
}
.cartproduct{
	margin: 3% 0;
	display: flex;
	flex-direction: row;
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 1%);
}
.cart-image{
	align-self: center;
}
.cartproduct .details{
	padding: 3%;
    	font-size: 13px;
}
.cartproduct .details p,.quantity{
	font-family: monospace;
    	color: #364a54;
	margin-top: 2%;
}
.quantity{ 
	color: #2c414c;
	border: none;
    	font-size: 14px;
    	font-family: Verdana, sans-serif;
}
select:focus {
	outline: none;
}
.cartproduct .details .cart-a a{
	font-family: monospace;
    	text-decoration: none;
    	margin-right: 10%;
}
.cartproduct .details .cart-a{
	margin-top: 5%;
}
.cart-price h4{
	color: #454852;
	font-size:17px;
	margin-bottom: 9%;
}
.cart-price{
	margin-top: 5%;
    	margin-left: 2%;
	padding-left: 4%;
    	font-size: 80%;
	border-left: 1px solid #f0f0f0;
}
.cart-pricep{
	margin-top: 2%;
    	margin-left: 1%;
    	color: #818181;
    	font-size: 80%;
    	text-decoration: line-through;
}
.cart-price p{
	white-space: nowrap;
}
.cart-off{
    	color: #e40b81;
}
.symbol{
    	display: flex;
    	justify-content: space-between;
}
.coupon, .price-details p, .order-total p{
    	display: flex;
    	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 6%;
}
.cart-form{
	color: #818181;
    	font-size: 13px;
	padding-top: 5%;
}
.cart-form button,.login-details button{
	color: #e40980;
    	border: none;
    	background-color: transparent;
}
.cart-form input{
	border: 0;
}
.cart-form input:focus{
	outline:none;
	color:#6600ff;
}
#submitbutn {  
	font-size: 16px;
    	font-weight: 700;
  	background-color: #e40b81;  
  	color:#fff;  
	padding: 6%;
    	margin: 3% 0; 
  	border: none;  
  	cursor: pointer;  
  	width: 100%;  
}
.bold-letter{
	font-size:16px;
	color:#000;
}
#pink-letter{
	color: #e40980;
}
#pink-letters{
	color: #e40980;
	font-size:19px;	
}
.coupon,.price-details{
	border-bottom: 1px solid #cbcdcc;
}



/* CONTACT PAGE CSS */

.contact img{
    	width: 100%;
}
#reachdata{
	margin: auto 0;
	font-size:14px;
	color:#31516a;
}
#reachus{	
	font-size: 37px;
	text-align: center;	
    	margin: 4% 0;
	font-family: Verdana, sans-serif;
}
#map{
	width: 68%;
	display: flex;
	padding-bottom: 4%;
}
#map img{
	width: 89%;
}
.call{
	margin-top: 15%;
	font-weight: 600;
}
#reachdata p{
	margin-bottom: 2%;	
}
.work{
	width:100%;
	background-color:#14b898;
	color: #fff;
	padding: 12% 0;
}
#work1{
	font-size: 36px;
    	text-align: center;
}
#work2{
	font-size: 23px;
    	text-align: center;
}
.contact-form input[type=text]{  
  	border: 1px solid #a7b0b4;
  	box-shadow: inset 0 7px 5px rgb(0 0 0 / 8%);
	border-radius:3px;
	font-size: 14px;
	line-height: 27px;
	margin-left: 2%;
    	width: 70%;
}  
.contact-form input[type=text]:focus {  
  	border: 1px solid #f7d;
	outline:none;
} 
.contact-form{   
  	background-color: #f4f4f4;  
	color:#3a4962;
	padding: 3% 0;
}
.contactus-form{   
	margin-left: 9%;
}
textarea{
	vertical-align: text-top;
	margin-left: 2%;
} 
.contact-form-heading{
    	text-align: center;
	margin-bottom: 3%;
}
ul{   
  	list-style-type:none;
	padding: 1% 0;
}
.contact-form label{   
  	color: #2d4350;
    	font-size: 12px;
    	font-weight: bold;
	font-family: Verdana, sans-serif;
	text-align: right;
	width:20%;
    	display: inline-block;
}
#p1{
	font-size: 30px;
    	font-weight: bold;
}
#p2{
	font-size: 20px;
    	font-weight: bold;
}
.contactsub:hover{  
  	background-color:#e40980;
} 
.contactcan:hover{  
  	color:#fff;
	background-color: #818181;  	
} 
.contactsub, .contactcan{  
	font-size: 16px;
    	font-weight: 700;
  	padding: 13px 16px;  
  	margin: 8px 0;  
  	border: none;  
  	cursor: pointer;  
  	border-radius: 7px;
	display: inline-block;
}
.contactsub{
	color: #fff;  
  	background-color: #673ab7;  
}
.contactcan{  
	color: #000;  
  	background-color: #fff;  
}
#but-align{
	text-align:center;
}


/*	CHECKOUT PAGE CSS */

.checkout-header{
	background-color: #fff;
    	position: sticky;
    	z-index: 1;
    	top: 0;
	display:flex;
	justify-content: space-around;
	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 5%);	
}
.checkout-header-image img{
	width: 49%;
}
.checkout-header-data{
	display: flex;
    	font-size: 12px;
    	color: #6c7a82;
}
.checkout-header-data1{
	align-self: center;
    	white-space: nowrap;
    	margin: 2%;
}
.checkout-header-data1 .material-icons{
	font-size: 17px;
    	vertical-align: bottom;
}
.checkout-body{
	display: flex;
    	justify-content: space-evenly;
}
.checkout-details-data{
	border: 1px solid #ced4d6;
	padding-bottom: 4%;
}
#checkout-add{
	padding: 1%;
	background-color: #f8f9fa;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}
.checkout-details{
	flex: 55%;
	margin: 1% 0% 10% 11%;
}
.checkout-details img{
	margin-left:6%;
}
.checkout-order{
	flex: 30%;
    	padding: 5%;
    	color: #868385;
    	font-size: 13px;
}
.checkout-details-data ul{
	padding: 3% 4% 0%;
}
.need-help{
	border: 1px solid #eef1f1;
    	padding: 5%;
    	text-align: center;
}
#info,#infom{
	color:#e40b81;
	vertical-align: bottom;
    	font-size: 17px;
}
.checkout-details-data form{
	display: flex;
    	flex-direction: column;
}
.checkout-details-data input[type=text]{  
  	border: 0;
  	border-bottom: 1px solid #ced4d6;
	font-family: Verdana, sans-serif;
	padding: 2%;
    	margin: 3%;
}  
.checkout-details-data input[type=text]:focus{  
  	border-bottom: 1px solid #e40b81; 
  	outline: none;  
}  
.submitbutn {  
	font-size: 17px;
  	background-color: #e40b81;  
  	color: #fff;  
  	padding: 11px 20px;   
  	border: none;  
  	cursor: pointer;  
  	width: 36%;  
	margin: auto;
}
.checkout-details-data p{
    	padding: 4%;
    	color: #4e6871;
}
.bold-word{
	margin: 3% 0%;
    	color: #000;
}
.login-details span{
	color:#8a94a0;	
	padding-right: 37%;
}
.pink-letter{
	color: #e40980;
}


/* LIST PAGE CSS */
.list-buttons{
    	text-align: center;
    	padding: 1.5%;
}
.list-buttons button{
     	border-radius:15px;
     	border:1px solid #d5d5d5;
     	background-color:#fff;
     	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 0%);
     	font-family:Bahnschrift;
	padding: 0.6% 1.5%;
}
.header-list{
	background-color: #fff;
    	position: sticky;
    	z-index: 1;
    	top: 0;
    	display: flex;
    	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 5%);
}
.middleimage{
	width: 8%;		
}
.middleimage img{
	width: 100%;		
}
.header-list .header2{
    	margin: auto;
    	width: 60%;
	border-bottom:none;
}
.header-list .header2 .right-list img{
	width:100%;
}
.right-list{
	padding-top: 1%;
    	display: flex;
	justify-content:center;
}
.right-list img{
	width:100%;
}
.right-list .smile,.right-list .menu,.searchtool,.heart-list{
    	width: 15%;
}
#result{
	font-size:13px;
	margin-left: 41%;
     	font-family:Bahnschrift;
}
#result #info{
	color:#e40b81;
    	font-size: 13px;
}
.switch {
      	position: relative;
	display: inline-block;
	width: 40px;
}
.slider {
      	position: absolute;
      	cursor: pointer;
      	top: 0;
      	left: 0;
      	right: 0;
      	bottom: 0;
      	background-color: #b3b3b3;
}
.slider:before {
	position: absolute;
      	content: "";
      	height: 14px;
      	width: 14px;
      	left: 1px;
      	bottom: 1px;
      	background-color:#fff;
      	transition: .4s; 
      	border-radius: 50%;
}
input:checked + .slider {
      	background-color: #ecd5e2;
}
input:checked + .slider:before {
      	transform: translateX(23px);
}
.slider{
      	border-radius: 34px;
}
input[type=checkbox] {
      	height: 0;
      	width: 0;
      	visibility: hidden;
}
.list-links{
	text-align: center;
}
.product-list-links{
	    padding: 2%;
}
.list-links a,.product-list-links a{
	text-decoration: none;
    	color: #716479;
    	font-size: 13px;
}
.list-links span,.product-list-links span{
    	vertical-align: middle;
    	font-size: 12px;
    	color: #716479;
}
#different-color{
	color:#bcb3b3;
}
.lipstickheading{
	text-align: center;
    	margin: 4% 1% 2% 1%;
}
#liphead{
	font-size: 27px;
    	font-weight: 600;
    	font-family: serif;
    	color: #2c414c;
}
.lipstick-lists{
    	display: flex;
    	color: #798496;
    	font-size: 14px;
    	border: 1px solid #dcdcdc;
    	margin: 1%;
	background-color: #fff;
    	position: sticky;
    	z-index: 1;
    	top: 11%;
}
.brand span,.brand-last span,.coral button span{
	vertical-align: middle;
}
.hidden-brand{
	display:none;
}
.brand{
    	border-right: 1px solid #dcdcdc;
    	margin: 1.2%;
}
.brand-toggle{
	margin-top: 2%;
    	margin-right: 25%;
}
.brand-last{
	margin: 1.2%;
}
.lipstickproducthead{
	text-align:center;
	margin: 6% 0;
}
.lip-picture{
	display: flex;
    	justify-content: center;
	margin-bottom: 4%;
}
.lipproduct{
    	position:relative;
	cursor:pointer;
    	padding: 0% 3%;
}
.lipproducts{
    	position:relative;
	cursor:pointer;
}
.lipproduct:hover .overlay{
    	width:66%;
    	background:#525455;
    	position:absolute;
    	bottom:23%;
	color:#fff;
    	left:14%;
    	display:block;
	text-align:center;
	font-size:15px;
	padding:3%;
}
.overlayL{
	display:none;
}
.lipproduct:hover .overlayL{
    	width:66%;
    	background:#525455;
    	position:absolute;
    	bottom:41%;
	color:#fff;
    	left:14%;
    	display:block;
	text-align:center;
	font-size:15px;
	padding:3%;
}
.lipstickheadl{
    	font-family: serif;
	font-size:22px;
	letter-spacing: 6px;
	font-weight: bold;
}
.lipproduct button{
	width: 28%;
    	border-radius: 15px;
    	border: none;
    	background-color: #cc0f99;
    	color: #fff;
    	padding: 2.5%;
}
.lipproduct button span{
    	vertical-align: baseline;
    	font-size: 14px;
    	padding-left: 7.5%;
}
.lipstick-rating{
	color: #babec0;
    	font-size: 16px;
}
.color-box span{
	font-size: 30px;
}
.color-box{
	display: flex;
	margin-top: 5%;
}
.color-box .off{
	margin-top: 4%;
}
.colorbox1 span{
	outline: 2px solid #000;
	color:#e92e5d;
}
.colorbox2 span{
	color:#9c4b5e;
}
.colorbox3 span{
	color:#5d1d2b;
}
.colorbox4 span{
	color:#cc0f99;
}
.colorbox5 span{
	color:#94474d;
}
.product-mainbody{
	background-color: #f7f7f7;
	padding-bottom: 5%;
}
.product-body{
	background-color: #fff;
    	margin: 1%;
	padding: 1%;
}
.products{
	background-color: #fff;
	display: flex;
    	margin: 1%;
	padding: 1%;
}
.product-left-picture{
	display: flex;
    	flex-direction: column;
	width: 13%;
}
.product-left-picture img{
	width:55%;
	margin:5%;
	border: 1px solid #bcb3b3;
}
.product-middle-picture{
	border: 1px solid #bcb3b3;
}
.product-right{
	padding: 1%;
	margin-left: 2%;
}
#product-right-head{
    	font-weight: bold;
    	font-size: larger;
}
#product-right-head p{
    	padding-bottom: 1.5%;
}
.rate1 span{
	font-size: 16px;
    	color: #cc0f99;
}
#different-star1,#different-star2{
	font-size: 16px;
    	color: #ced4d6;
}
.rate1 .star-r{
	font-size: 12px;
	color:#2d4350;
}
.rate2{
	padding: 3% 0;
}
#price{
	font-size: 24px;
    	font-weight: bold;
}
#discount{
	color: #ced4d6;
    	text-decoration: line-through;
}
#off{
	font-size: 13px;
    	color: #cc0f99;
}
.progress-h{
	padding-left: 2%;
}
.best button{
	color: #6d0bff;
    	background-color: #ffedf7;
    	border: 0;
    	padding: 4%;
    	width: 100%;
	text-align: left;
    	border-bottom: 1px solid #ead5e1;
}
.best button:hover{
	text-decoration:underline;
}
.shade{
	margin: 5% 0%;
}
.shade p{
	color: #f70000;
    	font-size: 12px;
}
.shade #shade{
    	font-weight:bold;
	color: #000;
    	font-size: 17px;
	padding-top: 5%;
}
.coral button{
    	background-color: #f7f7f7;
    	border: 1px solid #e9e7e7;
    	padding:3%;
    	width: 100%;
	text-align: left;
}
.colors{
	margin-top: 7%;
    	display: flex;
}
.color1 img{
	border-radius: 10px;
}
.color2{
    	margin-left: 2%;
}
.color2 #selected{
	border: 3px solid black;
    	padding: 2px;
	width: 8%;
}
.color2 img{
	width: 10%;
	border-radius: 7px;
	margin: 0.5%;
}
#cart-button{
	padding: 4% 14%;
    	border-radius: 8px;
    	font-weight: 700;
    	border: none;
    	color: #fff;
	font-size: 17px;
    	background-color: #60f;
}
#whislist-button{
    	background-color: #fff;
    	padding: 3%;
    	margin: 5%;
	font-size: 17px;
    	border-radius: 8px;
    	border: 1px solid #798496;
}
#whislist-button img{
	vertical-align: middle;
    	width: 21%;
}
.purchase{
	display:flex;
	background-color:#fff;
	margin-top: 7%;
}
.certify img{
	width:58%;	
}
.certify p{
	font-size: 12px;
    	font-weight: bold;	
}
.related-head{
	border-bottom: 1px solid #eef1f1;
    	font-weight: 700;
	padding: 1%;
}
.product-details-container1{
	padding: 1%;
}
.product-details-container{
	display: flex;
}
.related-head span{
	padding: 1%;
	margin-right:1%;
}
.product-details-container1 #deta{
	color: #7538ff;
    	border-bottom: 1px solid #7538ff;
}
.highlight-head{
	font-size: 18px;
    	font-weight: bold;
	margin: 3% 0;
}
.highlight-details p{
	margin-bottom: 1%;
	font-size: 14.5px;
    	color: #312727;
}
.adding{
	display: flex;
    	justify-content: space-between;
	padding-bottom: 1.5%;
    	border-bottom: 1px solid #ecdbf6;
}
.add{
	margin-top: 2.5%;
}
.country{
	color: #666;
    	font-size: 13px;
}
.india{
	color: #1C1616;
    	font-size: 13px;
    	margin-left: 5.5%;
}
.expiry{
	padding: 1%;
    	border: 2px dashed #e9e7e7;
    	margin: 1% 0;
	width: 50%;
    	border-radius: 8px;
    	font-weight: 700;
}
.expiry span{
	font-size: 13px;
    	color: #312727;
}
.sold{
	display: flex;
    	border: 1px solid #ecdbf6;
    	justify-content: space-between;
    	padding: 2%;
    	border-radius: 8px;
    	margin: 7% 0;
}
#sold{
	color: #988989;
    	font-size: 13px;
}
#avnu,.sold p{
	font-size: 13px;
    	color: #312727;
}
.sold img{
	width: 41%;
}
#view-seller{
    	color: #6600FF;
    	font-size: 13px;
}
.offer-details{
	margin: 1%;
    	background-color: #fdf0f7;
    	padding: 2%;
    	border: 1px solid #fff6fa;
    	border-radius: 8px;
    	width: 50%;
}
.offer-details img{
    	width: 7%;
    	vertical-align: middle;
}
#flat{
	color: #312727;
    	font-size: 13px;
}
#tandc{	
	text-decoration: underline;
    	font-size: 15px;
}
#day{
	padding-left: 18%;
}
#genuine{
	padding-left: 9%;
}
.product-details-container2{
	width: 40%;
    	margin-left: 3%;
}
#elite{
	width: 87%;
}
.product-details-container2 form{
	background-color: #f7f7f7;
    	width: 83%;
	padding:3%;
	border: 1px solid #ebe9e9;
    	border-radius: 6px;
	margin-top: 3%;
}
.product-details-container2 form img{
	width: 7%;
    	vertical-align: top;
}
.product-details-container2 form input{
    	border: none;
    	background-color: #f7f7f7;
	width: 70%;
}
.product-details-container2 form input:focus{
    	border: none;
	outline:none;
}
.product-details-container2 form button{
	color: #9263fd;
    	font-size: 16px;
    	border: none;
    	background-color: #f7f7f7;
}
.product-details-container2 form input::placeholder{
	color:#9b8d8d;
	font-size:13px;
}
.rates span{
	font-size: 18px;
    	color: #cc0f99;
	padding-bottom: 3%;
}
#fixed-product-right-head{
    	font-weight: bold;
    	font-size: 15px;
}
#fixed-product-right-head p{
    	padding-bottom: 1.5%;
}
#f-price{
	font-size: 24px;
    	font-weight: bold;
}
#f-discount{
	color: #ced4d6;
    	text-decoration: line-through;
}
#f-off{
	font-size: 13px;
    	color: #cc0f99;
}
.review-progress{
	display: flex;
    	margin-top: 2%;
    	width: 100%;
}
.review-head{
	font-size: 18px;
    	font-weight: 700;
    	width: 45%;
}
.rates{
	padding-top: 7%;
}
.rates1 #bold{
	font-size: 15px;
	color:#000;
}
.rates1 p,.progress-gray{
    	font-size: 13px;
    	padding-bottom: 0.5%;
    	color: #988989;
}
.progress{
	flex: 30%;
	margin: 0 3%;
}
.progress-head{
	color: #312727;
    	font-size: 16px;
    	font-weight: 700;
}
.long{
	color: #312727;
    	font-size: 13px;
}
.progress table td{
	padding: 1.5%;
	width:2%;
}
#fixed-cart-button{
	padding: 4% 10%;
    	border-radius: 8px;
    	font-weight: 700;
    	border: none;
    	color: #fff;
	font-size: 17px;
    	background-color: #60f;
}
#fixed-whislist-button{
    	background-color: #fff;
    	padding: 3%;
    	margin: 2%;
	font-size: 17px;
    	border-radius: 8px;
    	border: 1px solid #798496;
}
#fixed-whislist-button img{
	vertical-align: middle;
    	width: 21%;
}
.fixed-product{
	flex: 20%;
    	border: 1px solid #ece8e8;
    	padding: 1%;
}
.fix-product{
	display: flex;
}
#fixed-product-image{
	width:37%;
}
#fixed-product-image img{
    	width: 80%;
    	border: 1px solid #ece8e8;
}
.review-head-button{
    	padding: 1.5% 0;
}
.review-head-button button{
    	border-radius: 22px;
    	border: 1px solid #d5d5d5;
    	background-color: #fff;
    	padding: 0.8% 1.5%;
	font-size: 14px;
}
.customer-img img{
	width: 6%;
	margin: 2% 1%;
}
.variant button{
	border-radius: 4px;
    	border: 1px solid #ece8e8;
    	padding: 1.5%;
    	width: 48%;
    	text-align: left;
    	margin-top: 1%;
}
.customer-review{
    	border: 1px solid #baafaf;
    	width: 48%;
    	padding: 1%;
    	border-radius: 6px;
	margin: 1% 0;
}
.review-details1{
    	display: flex;
    	justify-content: space-between;
}
.profile{
    	display: flex;
}
.pro-pic{
    	width: 20%;
}
.pro-pic img{
    	width: 87%;
}
.details .name{
	font-weight: 700;
    	padding-bottom: 0.5%;
}
.circle .material-icons{
	vertical-align: middle;
    	color: #ce7062;
    	font-size: 16px;
}
.trophy{
    	text-decoration: underline;
    	font-size: 13px;
}
.rate-star {
    	padding-top: 2%;
}
.rate-star span{
    	font-size: 11px;
    	color: #cc0f99;
    	padding-bottom: 3%;
}
.rate-star .star-review {
    	font-size: 13px;
    	color: #000;
}
.buyer-certify{
    	font-size: 13px;
    	color: #988989;
}
.buyer-certify .material-icons{
	vertical-align: text-top;
    	color:  #988989;
    	font-size: 14px;
}
.review-details2{
    	font-size: 14px;
    	padding: 2% 0;
    	border-bottom: 1px solid #dbdbdb;
}
.review-details2 p{
	padding-bottom: 0.5%;
}
.review-details3{
    	color: #16BE48;
    	font-size: 13px;
    	padding: 2%;
}
.review-details3 .material-icons{
    	font-size: 13px;
}
#review-list{
	font-size: 13px;
	color: #6600FF;
}
.write-review{
	margin:3% 0;
}
.write-review p{
	font-size: 18px;
    	font-weight: bold;
}
.write-review button{
    	background-color: #fff;
    	padding: 1.5% 8%;
    	margin: 2% 0;
	font-size: 16px;
    	border-radius: 8px;
	color: #6600FF;
    	border: 1px solid #6600FF;
}
.secure{
	padding-top: 3%;
}
.secure img{
	padding-left: 6%;
}
.secure1{
    	font-size: 24px;
    	color: #2C414C;
    	font-family: serif;
}
.secure2{
    	font-size: 14px;
    	color: #2C414C;
    	font-family: serif;
}
.foot{
    	display: flex;
	justify-content: space-around;
}
.finder{
	display: flex;
    	justify-content: space-around;
	margin: 7% 0;
}
.finder p{
    	font-family: serif;
    	font-size: 24px;
    	font-weight: 600;
    	padding-bottom: 1%;
}
.hiden-header,.product-right-hiden{
	display:none;
}
/* registration Page */
.reg-body{
     	background-image: url("./image/background1.png");
  	background-repeat: no-repeat;
}
.registration{
    	padding: 2% 3% 0.5% 3%;
    	margin: 1% auto;
    	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 39%);
    	width: 28%;
    	background-color: #fff;
}
.registration form {
    	margin: 9% 0;
    	padding: 6px 0px;
    	display: flex;
    	flex-direction: column;
}
.registration input[type=text],.registration input[type=password] {
        border: 0;
    	border-bottom: 1px solid #ced4d6;
    	font-family: Verdana, sans-serif;
    	padding: 2%;
    	margin: 1% 1% 3% 1%;
}
.registration input[type=text]:hover,.registration input[type=password]:hover {
	border-bottom: 1px solid #e40b81;
}
.registration input[type=text]:focus,.registration input[type=password]:focus{
	outline:none;
}
input[type=radio] {
    	accent-color: #e40b81;
}
.registration-submitbutn {
    	font-size: 16px;
    	font-weight: 700;
    	background-color: #e40b81;
    	color: white;
    	padding: 16px 20px;
    	margin: 8px 0;
    	border: none;
    	cursor: pointer;
}
.registration form a {
    	color: #e40b81;
    	text-decoration: none;
	text-align: center;
}
.registration-heading i {
    	font-size: 42px;
    	color: #2c414c;
    	position: absolute;
    	right: 30%;
    	top: 1%;
}
/* Login Page */
.login-body{
     	background-image: url("./image/background1.png");
  	background-repeat: no-repeat;
	background-size: cover;
}
.login-heading i {
    	font-size: 42px;
    	color: #2c414c;
    	position: absolute;
    	right: 28%;
    	top: 14%;
}
.login-heading span {
    	color: #2C414C;
    	font-size: 25px;
    	font-family: sans-serif;
}
.login-buttons button {
    	color: #6C7A82;
    	background-color: #fff;
    	font-size: 16px;
    	border: none;
    	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 11%);
}
.login-buttons #facebook i{
    	color: #3b569d;
    	background: #fff;
    	font-size: 21px;
}
#facebook{
    	padding: 1.5% 4%;
    	margin-right: 3%;
}
#google{
    	padding: 4% 5%;
}
.login form{
    	margin: 9% 0;
    	padding: 6px 0px;
}
.login-buttons #google i{
    	font-size: 19px;
}
.login input{
    	border: none;
    	border-bottom: 1px solid #D6D6D6;
    	padding: 6px 0px;
    	width: 83%;
}
.login input:focus{
    	border: none;
	outline:none;
}
.login-buttons{
    	margin: 3%;
    	text-align: center;
}
.login form span{
    	font-size: 50px;
    	color: #D6D6D6;
    	vertical-align: middle;
}
.login{
	padding: 6%;
    	margin: 7% auto;
    	box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(59 63 66 / 39%);
    	width: 26%;
	background-color: #fff;
}
#connect{
    	text-align: center;
    	color: #96A0A6;
    	font-size: 16px;
}										/* MEDIA QUERY */
@media screen and (max-width: 1024px){
.registration-heading h1{
    	font-size: 29px;
}
.registration-heading i {
    	font-size: 29px;
    	right: 30%;
    	top: 2%;
}
.registration-heading p{
    	font-size: 14px;
    	white-space: nowrap;
}
.login{
	width: 32%;
}
.login-heading i {
    	right: 24%;
}
.left {
    	width: 25%;
}
.brand p,brand-last p{
    	white-space: nowrap;
}
.brand-toggle {
    	margin-right: 13%;
}
.cart-price {
    	flex: 25%;
}
.header-list .header2 {
    	width: 96%;
}
.product-left-picture {
    	width: 18%;
}
.product-middle-picture {
    	border: none;
}
.rate2 {
    	padding: 1%;
}
.best{
	display:none;
}
.shade {
    	margin: 2% 0%;
}
.coral button {
    	padding: 1%;
}
.colors {
    	margin-top: 3%;
}
#whislist-button {
   	margin: 0%;
}
#price {
    	font-size: 15px;
}
#discount {
    	font-size: 13px;
}
.product-middle-picture img{
	width: 100%;
}
#cart-button {
    	padding: 4% 12%;
}
#view-seller,.highlight-details p{
    	font-size: 11px;
}
.offer-details {
    	width: 55%;
}
.progress table td {
    	white-space: nowrap;
	padding: 1%;
}
#fixed-product-right-head {
    	font-size: 12px;
}
#f-price {
    	font-size: 15px;
}
#f-discount {
    	font-size: 12px;
}
#f-off {
    	font-size: 9px;
}
#fixed-cart-button {
    	padding: 4% 8%;
	font-size:13px;
}
#fixed-whislist-button {
    	padding: 2%;
    	margin: 2%;
    	font-size: 14px;
}
.foot-column {
    	margin-left: 3%;
}
.pay{
	margin-left: 11%;
}
}
@media screen and (max-width: 768px){                     
.registration-heading h1 {
    	font-size: 25px;
}
.registration-heading p {
	font-size: 10px;
}
.registration form label{
    	font-size: 14px;
}
.gender{
    	font-size: 14px;
}
input[type=radio] {
    	vertical-align: middle;
}
.registration-submitbutn {
    	font-size: 14px;
    	padding: 13px 20px;
}
.registration form a {
    	font-size: 13px;
}
.registration {
	width: 36%;
}
.registration-heading i {
    	font-size: 18px;
    	right: 6%;
}
.login{
    	width: 42%;
}
.login-heading i {
    	font-size: 39px;
    	right: 18%;
    	top: 11%;
}
.left {
    	width: 32%;
}
.left input {
    	width: 76%;
}
.pictures {
    	display: block;
}
.product {
    	margin-left: 3%;
}
.brand-last {
    	display: none;
}
.brand-toggle {
    	margin-right: 0%;
}
.lipstick-lists {
    	top: 10%;
}
#map img {
    	width: 100%;
}
#reachdata {
    	margin: auto 5%;
    	font-size: 11px;
}
.checkout-details {
    	width: 50%;
}
.checkout-details img {
    	margin-left: 0%;
    	width: 100%;
}
.submitbutn {
    	font-size: 16px;
    	width: 63%;
}
.checkout-order {
    	flex: 33%;
}
.cart {
    	margin: auto;
    	width: 77%;
}
.cart-container {
    	display: block;
}
.cart-order{
    	width: 51%;
    	margin: 8% auto;
}
.cart-form button{
    	margin-left: 28%;
}
.symbol {
    	justify-content: space-around;
}
.cartproduct {
    	display: block;
    	margin-bottom: 8%;
}
.cart h3{
	text-align: center;
}
.cart-image{
	text-align: center;
    	width: 58%;
}
.cart-image img{
    	width: 100%;
       	margin-left: 29%;
    	margin-top: 6%;
}
.cartproduct .details {
    	font-size: 14px;
}
.cart-price h4 {
    	font-size: 22px;
    	margin-bottom: 2%;
}
.cart-price p {
    	padding-bottom: 11%;
}
.cart-order {
    	width: 71%;
    	margin: 4%;
}
.cart-image {
    	width: 16%;
}
.cart-symbol{
	font-size: 12px;
    	margin-top: 5%;
}
.cart-symbol h4{
	text-align: center;
}
.cart-form button {
    	margin-left: 5%;
    	white-space: nowrap;
    	font-size: 7px;
}
.cart-order {
    	width: 76%;
    	margin-left: 9%;
}
.middleimage {
    	width: 17%;
}
.product-left-picture img {
    	width: 68%;
    	margin-top: 20%;
}
.lists {
    	font-size: 9px;
}
.fixed-product {
	display:none;
}
.variant button {
    	width: 59%;
}
.customer-review {
    	width: 57%;
}
.finder {
    	margin: 7% 5%;
}
.write-review button {
	width: 60%;
}
.product-details-container2 form button {
    	font-size: 13px;
}
.product-details-container2 form input {
    	width: 62%;
}
.product-details-container2 form img {
    	width: 10%;
}
.certify img {
    	width: 72%;
}
.highlight-details p {
    	font-size: 8px;
    	white-space: nowrap;
}
.certify img {
    	width: 72%;
}
#sold {
    	font-size: 12px;
}
.sold img {
    	width: 38%;
}
#avnu, .sold p {
    	font-size: 10px;
}
.offer-details {
    	width: 72%;
}
.rates1 p, .progress-gray {
    	white-space: nowrap;
}
#cart-button {
    	padding: 4% 9%;
}
#whislist-button {
    	padding: 2%;
}
.product-list-links a {
    	font-size: 11px;
}
#product-right-head {
    	font-size: medium;
}
.product-middle-picture {
    	border: none; 
}
.lipproduct {
    	padding: 0%;
    	width: 24%;
}
.lipproduct img{
	width: 86%;
}
.lipproduct p {
    	font-size: 13px;
}
.secure {
    	width: 21%;
}
.secure img {
    	width: 58%;
}
.secure1 {
    	font-size: 17px;
}
.secure2 {
    	font-size: 8px;
}
.spotlight img{
    	width: 86%;
}
.foot-column .head {
    	font-size: 10px;
}
.foot-column {
    	margin-left: 2%;
}
.pay{	
    	margin-right: 4%;
}
.foot-column .head, .foot-columnh .head {
    	font-size: 10px;
}
}									
@media screen and (max-width: 320px){
.registration {
    	width: 67%;
}
.login {
    	width: 75%;
}
.product p, .lipproduct p {
    	font-size: 14px;
}
.login-heading span {
    	font-size: 18px;
}
.login-heading i {
    	font-size: 23px;
    	right: 12%;
    	top: 8%;
}
.login input {
    	width: 72%;
}
.login form span {
    	font-size: 39px;
}
#connect {
 	font-size: 13px;
}
#facebook {
    	font-size: 11px;
}
.login-buttons #facebook i {
    	font-size: 13px;
}
.login-buttons #google i {
    	font-size: 15px;
}
#google {
    	font-size: 11px;
}
.left {
    	margin: 2%;
    	border-bottom: none;
}
.left input{
    	display: none;
}
.foot-column {
    	margin-left: 2%;
    	margin-right: 2%;
}
.foot-column .subhead, .foot-columnh .subhead {
    	font-size: 7px;
}
.featurehead span {
    	font-size: 15px;
}
.pictures {
    	margin-top: 10%;
    	text-align: center;
}
.hidden-brand{
	display:block;
	margin: 2%;
}
.hidden-brand span{
	font-size: 32px;
}
.brand{
	display:none;
}
.brand-last {
    	display: block;
	margin: 2%;
}
.brand-last p{
    	font-size: 11px;
}
.brand-toggle {
    	margin: auto;
}
.brand-last span{
    	vertical-align: middle;
    	font-size: larger;
}
.pink-letter {
    	color: #e40980;
    	font-size: 14px;
}
#liphead {
    	font-size: 23px;
}
.lipstickheadl {
    	font-size: 16px;
    	letter-spacing: 4px;
}
.lipproduct img {
    	width: 100%;
}
#result {
    	font-size: 9px;
    	margin-left: 24%;
    	white-space: nowrap;
}
#result #info {
    	font-size: 11px;
}
.right-list {
    	justify-content: space-evenly;
}
.lipstickheading {
    	text-align: center;
   	margin: 7% 1% 6% 1%;
}
.list-buttons {
	display:none;
}
.homegif{
    	margin-top: 2%;
}
.lipstick-lists {
    	top: 9%;
}
#reachus {
    	font-size: 26px;
}
#map {
    	width: 91%;
    	display: block;
}
#map img {
    	width: 99%;
    	margin: 4%;
}
#reachdata {
    	font-size: 15px;
}
#work1 {
    	font-size: 26px;
}
#work2 {
    	font-size: 13px;
}
#p1 {
    	font-size: 25px;
}
#p2 {
    	font-size: 11px;
}
#p3 {
    	font-size: 12px;
}
.contactus-form {
    	margin-left: 1%;
}
.contact-form label {
    	font-size: 10px;
    	margin-left: 8%;
    	white-space: nowrap;
	text-align: left;
}
.contact-form input[type=text] {
    	font-size: 14px;
    	width: 68%;
    	margin-left: 8%;
}
textarea {
    	width: 85%;
    	margin-left: 8%;
}
.contactsub, .contactcan {
    	font-size: 12px;
    	padding: 6px 11px;
}
.checkout-body {
    	display: block;
}
.checkout-details {
    	width: 80%;
}
.checkout-order {
    	padding: 8%;
    	margin-left: 5%;
}
.checkout-header {
    	width: 100%;
}
.checkout-header-image{
    	display: none;
}
#checkout-add {
    	font-size: 11px;
}
.checkout-header-data1 {
    	font-size: 0px;
}
::placeholder{
	font-size:10px;
}
.quantity {
    	font-size: 11px;
}
.checkout-header-data1 {
    	margin: 1%;
}
.checkout-header-data1 .material-icons {
    	font-size: 13px;
}
.checkout-header-data1 span{
    	font-size: 9px;
}
.checkout-details-data input[type=text] {
    	padding: 2%;
    	margin: 2% 5%;
    	width: 62%;
}
.checkout-details-data p {
    	font-size: 11px;
}
.submitbutn {
    	font-size: 13px;
    	width: 69%;
}
.login-details span {
    	padding-right: 13%;
}
.middleimage {
    	width: 33%;
}
header .material-icons {
    	font-size: 14px;
}
.reviews{
    	margin: 5%;
}
.review-progress {
    	display: block;
}
#contact, #download, #track {
    	font-size: 9px;
}
.rates {
    	padding-top: 4%;
}
.header2{
    	display: none;
}
.product-right {
    	display:none;
}
.header{
	display:none;
}
.hiden-header{
    	display: flex;
    	margin: auto;
    	font-size: 11px;
}
.hiden-header span{
    	margin-left: 7%;
    	color: #3f3636;
}
.product-left-picture {
    	width: 37%;
}
.product-list-links {
    	display: none;
}
.product-right {
    	display:none;
}
#cart-button {
    	padding: 3% 8%;
}
.colors {
    	margin: 3%;
}
.product-details-container {
    	display: block;
    	margin: 2%;
}
.product-right-hiden{
    	margin: 3%;
}
.highlight-details p {
    	font-size: 12px;
    	white-space: normal;
}
#cart-button {
    	padding: 3% 5%;
}
#whislist-button {
    	padding: 2% 0%;
}
.expiry {
    	padding: 4%;
    	width: 74%;
}
.rates1 p, .progress-gray {
    	font-size: 15px;
}
.rates1 #bold {
    	font-size: 16px;
}
.review-head {
    	font-size: 16px;
}
.highlight-head {
    	font-size: 16px;
}
.product-details-container2 {
    	width: 100%;
    	margin: 2%;
}
.product-details-container2 form img {
    	vertical-align: middle;
}
.product-details-container2 form button {
    	font-size: 17px;
}
#sold {
    	font-size: 12px;
}
#avnu, .sold p {
    	font-size: 11px;
}
.sold img {
    	width: 40%;
}
#view-seller, .highlight-details p {
    	font-size: 10px;
    	padding-top: 2%;
}
.offer-details {
    	width: 80%;
}
.narrow-review{
    	margin: 4%;
}
.review-head-button button {
    	margin: 1%;
	font-size: 13px;
}
.certify{
    	padding: 0 0.7%;
}
.progress-gray{
	display:none;
}
.long {
    	color: #312727;
    	font-size: 11px;
}
.progress-head {
    	font-size: 15px;
}
.certify p {
    	font-size: 10px;
}
.customer-image{
    	margin: 4%;
}
.customer-img img {
    	width: 24%;
}
.variant button {
    	width: 74%;
}
.customer-review {
    	width: 96%;
}
.buyer-certify .material-icons {
    	font-size: 11px;
}
.buyer-certify {
    	font-size: 10px;
    	color: #988989;
}
.write-review button {
    	width: 87%;
}
.lip-picture {
    	display: block;
    	text-align: center;
}
.lipproduct {
    	padding: 4%;
    	width: 56%;
    	margin: auto;
}
.lipproduct p {
    	font-size: 15px;
}
.foot {
    	display: block;
}
.secure{
    	width: 50%;
    	margin: auto;
}
.secure img {
    	width: 78%;
}
.finder {
    	display: block;
    	text-align: center;
}
.foot-column .head {
	white-space: nowrap;
	font-size: 7px;
}
.foot-columnh {
    	display: none;
}
.layer2 {
    	display: block;
}
.connect {
    	display: block;
    	width: 100%;
}
#icon{
    	text-align: center;
}
.layer2 {
    	display: block;
    	text-align: center;
}
.pay {
    	font-size: 11px;
	margin-right: 10%;
}
#copyright {
    	font-size: 8px;
}
}